body {
	font-family: "Segoe UI","Lato","proxima-nova","Helvetica Neue",Arial,sans-serif
}

.bg-highlight, 
.bg-strong-highlight {
	background-color: yellow
}

.bg-strong-highlight {
	color: red;
}

/* Margin for list and figure */
ul.simple + div.figure {
	margin-top: 12px;
}