body {
	font-family: "Segoe UI","Lato","proxima-nova","Helvetica Neue",Arial,sans-serif
}

.bg-highlight, 
.bg-strong-highlight {
	background-color: yellow
}

.bg-strong-highlight {
	color: red;
	font-weight: bold;
}

/* Margin for list and figure */
ul.simple + div.figure {
	margin-top: 12px;
}

abbr[title] {
	cursor: help;
}

/* Make 2 adjacent download element to be seperated on 2 lines */
a.reference.download.internal + a.reference.download.internal {
	display: block;
}